<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>MadLib</h1>
    <form action = "/completed" method = "POST">
    <label for = "noun">Enter a noun</label>
    <input required type = "text" id = "noun" name = "noun"><br>

    <label for = "verb">Enter a verb</label>
    <input required type = "text" id = "verb" name = "verb"><br>

    <label for = "adverb">Enter a Adverb</label>
    <input required type = "text" id = "adverb" name = "adverb"><br>

    <label for = "adjective">Enter a Adjective</label>
    <input required type = "text" id = "adverb" name = "adjective"><br>

    <label for = "place">Enter the name of a city</label>
    <input required type = "text" id = "place" name = "place"><br>
    <input type = "submit" value = "Make Madlib"><br>

</form>

</body>
</html>